{% extends 'base.html.twig' %}

{% block title %}Tricount index{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Tricount index</h1>

<div class="modal-dialog">
    <div class="modal-content">

    <table class="table mt-3">

            <tr class="list-group list-group-horizontal p-4">
                <th class="list-group-item w-25">Id</th>
                <th class="list-group-item w-25">Title</th>
                <th class="list-group-item w-25">Currency</th>
                <th class="list-group-item w-25">Description</th>
                <th class="list-group-item w-25">Actions</th>
            </tr>

        {% for tricount in tricounts %}
            <tr class="list-group list-group-horizontal px-4">
                <td class="list-group-item w-25">{{ tricount.id }}</td>
                <td class="list-group-item w-25">{{ tricount.title }}</td>
                <td class="list-group-item w-25">{{ tricount.Currency }}</td>
                <td class="list-group-item w-25">{{ tricount.Description }}</td>
                <td class="list-group-item w-25">
                    <button class="btn btn-primary"><a class="text-white text-decoration-none" href="{{ path('tricount_show', {'id': tricount.id}) }}">show</a></button>
                    <button class="btn btn-warning"><a class="text-white text-decoration-none" href="{{ path('tricount_edit', {'id': tricount.id}) }}">edit</a></button>
                    <button class="btn btn-warning"><a class="text-white text-decoration-none" href="{{ path('expense_index', {'param': tricount.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tricount_new') }}">Create new</a>
{% endblock %}
